<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microdoc</title>
    <?=$this->assets->getCss()?>
</head>
<body>
    <div class="container-fluid mt-2">
        <?=$this->getContent()?>
    </div>
    <?=$this->assets->getJs()?>
</body>
</html>