namespace: <?=$this->request->get("namespace")?>

<?php if(count($description->traits)) : ?>
    <span>
    <div class="m-1 row">
        <?php foreach($description->traits as $trait): ?>
            <a class="badge badge-primary mx-1" href="<?= $this->url->get(["for" => "microdoc_documentor_file", "namespace" => $trait]) ?>">
                <?=$trait?>
            </a>
        <?php endforeach; ?>
    </div>
<?php endif; ?>


<?php if(count($description->parent)) : ?>
    <div class="m-1 row">
    Parent:
        <?php foreach($description->parent as $parent): ?>
            <a class="badge badge-primary mx-1" href="<?= $this->url->get(["for" => "microdoc_documentor_file", "namespace" => $parent]) ?>">
                <?=$parent?>
            </a>
        <?php endforeach; ?>
    </div>
<?php endif; ?>
<?php if(count($description->interfaces)) : ?>
    <div class="m-1 row">
    Interfaces:
        <?php foreach($description->interfaces as $interface): ?>
            <a class="badge badge-primary mx-1" href="<?= $this->url->get(["for" => "microdoc_documentor_file", "namespace" => $interface]) ?>">
                <?=$interface?>
            </a>
        <?php endforeach; ?>
    </div>
<?php endif; ?>
<div class="list-group">
    <?php foreach($description->functions as $function): ?>
    <?= $this->part("function", ["function" => $function]);?>
    <?php endforeach; ?>
</div>