<div class="list-group-item list-group-item-action mb-2 ml-1">
<div class="row border-bottom border-<?= $function->isPublic() ? "success" : "warning"?>">
    <div class="col-sm">Function: <?=$function->getName()?></div>
    <div class="col-sm">Return: <?=$function->getReturnType() ?? "void"?></div>
    <div class="col-sm">Access: <?=$function->isPublic() ? "public" : "protected"?></div>
</div>
<?php
$documentation = $function->getDocComment();
$parameters = $function->getParameters();

$doc = array_values(array_filter(array_map(function($item) {
    return preg_replace(["/[\*\/\\+]/", "/@/"], ["", ""], trim($item));
}, preg_split("/\n/", $documentation, 0, PREG_SPLIT_NO_EMPTY))));
?>

<span>Description: <?=$doc[0]?></span>
<?php
foreach($parameters as $key => $p) : ?>
    </br>
    <span>
        <span class='keyword keyword-param'>Parameter: <?=$p->getName()?> </span>&nbsp;<?=$p->getType()?>&nbsp;
        <span class='description'>

            <span class='description-description'>
                <?=explode(" - ", $doc[$key + 1])[1]?>
            </span>&nbsp;

        <?php if($p->allowsNull()) : ?>
            <span class="description-allow-null">
                Nullable;&nbsp;
            </span>
        <?php endif; ?>

        <?php if($p->isOptional()) : ?>
            <span class="description-optional">
                Optional;&nbsp;
            </span>
        <?php endif; ?>

        <?php if($p->isPassedByReference()) : ?>
            <span class="description-reference">
                Reference;&nbsp;
            </span>
        <?php endif; ?>
        </span>
    </span>
    
<?php endforeach;?>
</br>
<?php if(stripos(end($doc),"throws")) : ?>
    <span class="description-throws">
    <span class='keyword keyword-throws'>Throws: </span>&nbsp;<span><?=str_replace("throws", "", end($doc))?></span>
<?php endif; ?>
</div>